<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.innovisle.RuijieWIFI-AutoLogin</string>
    <key>RunAtLoad</key>
    <true/>
    <key>Program</key>
    <string>这里替换为login.py的绝对路径</string>
</dict>
</plist>
