<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.innovisle.RuijieWIFI-AutoLogin</string>
    <key>RunAtLoad</key>
    <true/>
    <key>Program</key>
    <!-- 下面的路径替换为自己的 login.py 绝对路径 -->
    <string>/Users/gloridust/Documents/GitHub/RuijieWIFI-AutoLogin/AutoLogin</string>
</dict>
</plist>
